* {
    font-family: arial;
}

body {
    transition-duration: 0.10s;
}

h1 {
    margin-left: 10px;
}

h3 {
    margin-left: 10px;
}

.text {
    margin-left: 10px;
}

.textinput {
    border-width: 0px;
    border-radius: 5px;
    height: 30px;
    width: 85%;
    margin-left: 10px;
    padding: 5px 15px 5px;
    font-size: 1em;
    outline: none;
}

.messageinput {
    border-width: 0px;
    border-radius: 5px;
    width: 25%;
    height: 125px;
    padding: 10px 15px 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    resize: none;
    outline: none;
}

.ttsCheckbox {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 15px;
    width: 15px;
}

.btn {
    border-width: 0px;
    border-radius: 5px;
    margin-left: 10px;
    padding: 10px 15px 10px;
    font-size: 1em;
    transition-duration: 0.25s;
    margin-bottom: 10px;
}

.btn:hover {
    transition-duration: 0.25s;
}

.select {
    border-width: 0px;
    border-radius: 5px;
    margin-left: 10px;
    padding: 10px 15px 10px;
    font-size: 1em;
    transition-duration: 0.25s;
    margin-bottom: 10px;
}

.select:hover {
    transition-duration: 0.25s;
}