body {
    background-color: #313338;
    color: white;
}

.textinput {
    background-color: #383a40;
    color: white;
}

.textinput:focus {
    background-color: #474a52;
}

.messageinput {
    background-color: #383a40;
    color: white;
}

.messageinput:focus {
    background-color: #474a52;
}

.ttsCheckbox {
    accent-color: #5865F2;
}

.btn {
    background-color: #383a40;
    color: white;
}

.btn:hover {
    background-color: #474a52;
}

.select {
    background-color: #383a40;
    color: white;
}

.select:hover {
    background-color: #474a52;
}