body {
    background-color: #2e2e2e;
    color: #f0f0f0;
    font-family: sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

h1 {
    font-size: 72px;
    margin: 0;
    font-family: sans-serif;
}

h2 {
    font-family: sans-serif;
}

h3 {
    font-family: sans-serif;
}

p {
    font-size: 24px;
    font-family: sans-serif;
}

.btn {
    background-color: crimson;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border: 2px solid crimson;
    transition-duration: 0.2s;
    margin-top: 20px;
    font-family: sans-serif;
}

.btn:hover {
    background-color: slateblue;
    color: white;
    border: 2px solid slateblue;
    box-shadow: 5px 5px 10px darkslateblue;
    transition-duration: 0.5s;
}

.linkbtn {
    background-color: crimson;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border: 2px solid crimson;
    transition-duration: 0.2s;
    margin-top: 20px;
    font-family: sans-serif;
    width: 15%;
    min-width: 250px;
}

.linkbtn:hover {
    background-color: slateblue;
    color: white;
    border: 2px solid slateblue;
    box-shadow: 5px 5px 10px darkslateblue;
    transition-duration: 0.5s;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 0 20px;
    font-family: sans-serif;
}

.content {
    max-width: 600px;
    padding: 20px;
    font-family: sans-serif;
}

@media (max-width: 768px) {
    h1 {
        font-size: 48px;
    }

    p {
        font-size: 18px;
    }

    .btn {
        padding: 10px 24px;
        font-size: 12px;
    }

    .container {
        flex-direction: column;
        ;
        /* Stellt sicher, dass bei kleinen Bildschirmen vertikal ausgerichtet wird */
    }
}